<div>
  <table>
    <thead>
      <th>Stock</th>
      <th>Price</th>
      <th>Last Updated</th>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td class="stockid">

          {{stock.stockId | uppercase}}
        </td>
        <td [class.increasing]="stock.isIncreasing"
            [class.decreasing]="stock.isDecreasing"
            class="decimal">

          {{stock.price | number: '1.2-2'}}
        </td>
        <td class="date">

          {{stock.updateTime}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
