<div class="row">
  <div class="col-6">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <th>Ticker</th>
      <th>Price</th>
      <th>Last Updated</th>
      </thead>
      <tbody>
      <tr *ngFor="let stock of stocks" (click)="selectStock(stock.stockId)" class="stock-row">
        <td class="stockid">

          {{stock.stockId | uppercase}}
        </td>
        <td [class.increasing]="stock.isIncreasing"
            [class.decreasing]="stock.isDecreasing"
            class="decimal">

          {{stock.price | number: '1.2-2'}}
        </td>
        <td class="date">

          {{stock.updateTime}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <app-line-chart [stockPriceChanges]="priceChangesInSelectedStocks"></app-line-chart>
  </div>
</div>
