.increasing{
  background-color: limegreen;
}

.decreasing{
  background-color: red;
}

.decimal{
  text-align: right;
}

th{
  text-align: center;
}

.stock-row{
  cursor: pointer;
}

.stock-row.active{
  background-color: darkgrey;
}

.chart-panel{
  margin-top: 20px;
}

.chart-div{
  margin-top: 20px;
}
